
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
footer{
    background-color: black;
    padding: 30px;
    color:white;
    margin-top: 25%;
}

.foto1{
    width: 40px;
    filter: contrast(1);
    
}

.H1{
    text-align:center;
    
}

.seçao1{
    display:flex;
    height: 28vh;
    
}

.conteiner{
    display:flex;
    height: 50%;
    width: 100%;
    margin: 0%;
}
.conteiner1{
    display:flex;
    width: 100%;
    margin-top: 100%;
    
}
@media (max-width: 952px){
    .conteiner1{
        width: 100%;
        margin-top: 100%;
    }
}

.centralize{
   
    text-align: center;
    
}
.seçao2{
    display: flex;
    background-color: white;
    width: 33vh;
}
.imagemprojeto1{
    width: 60vh;
    height: 35vh;
    padding-left: 10%;
    padding-top: 1%;
    filter: brightness(0,5);
}
@media (max-width: 952px){
    .imagemprojeto1{
        width: 80%;
        margin: 5;
        filter: brightness(3,5);   
    }
}

.imagemprojeto3{
    width: 40%;
    margin: 50px 50px 50px 50px;
    margin-left: 30%;

}

.image3{
    
    width: 10%;
    
    
    
 }
 @media (max-width: 952px){
    .image3{
        width: 65%;
    
    }
}

.imagemprojeto2{
    width: 20%;
    margin-left: 20%;
    margin-top: 1%;
    filter: brightness(5);
    filter: contrast(1);
    }
    @media (max-width: 952px){
        .imagemprojeto2{
            width: 45%;
            margin-left: 25%;
        }
}
.email{
    margin: 15px 15px 15px 15px;
}

.text1{
margin-left: 1%;
}
#text2{
    margin-right: 2%;
    margin-left:2%;
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 3%;
}
.foto{
    width: 35px;
    filter: brightness(2);
    filter: contrast(30);
}
