<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="meu/quadro.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    <title>Contato</title>

</head>
    <body id="body">
         
            <!--TOPO -->
            <div>
                <nav>
                    <ul id="topmenu">    
                    <li>  <a href="../templates/homesite.html"> <img src="../static/img/quadro.jpg" alt="" class="foto1"> </a>  </li>
                    <li>  <a href="../templates/homesite.html" class="buttonClass">Home</a>  </li>
                    <li>  <a href="../templates/sobre1.html" class="buttonClass">Sobre</a>  </li>
                    <li>  <a href="../templates/Projetos1.html" class="buttonClass">Projetos</a> </li>
                    <li>  <a href="../templates/Contato.html" class="buttonClass">Contato</a> </li>
                    </ul>
                </nav>
            </div>
            <!--Meio -->
            <div id="text2">
                <H1 class="H1">Contatos</H1>
            </div>

            <div id="text2">
                <ul>
                    
                    <li><a href="https://github.com/rodrigoribeiro027"> <img src="../static/img/git.png" alt="" class="image3"></a></li>
                    <li> <a href="https://www.linkedin.com/in/rodrigo-ribeiro-5008211b8/"> <img src="../static/img/linkedin.png" alt="" class="image3"></a></li>
                </ul>
            </div>
            
            <div class="text2">
                <H1 class="H1">Email</H1>
                <p class="H1"> </p>
                <h3 class="H1">Rodrigo.rsantos40@gmail.com</h3>
            </div>            
            <br>
            <div>
                  <img  class="conteiner1" src="../static/img/gifff.gif" alt="imagem"> 
            </div>
            

            <!--Rodapé -->
            <footer>
                <h5 class="centralize">Criado Por Rodrigo R - Todos direitos reservados.</h5>
            </footer>
     </body>
</html>