<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/oculos.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Contato</title>

</head>
    <body id="body">
         
           
            <!--TOPO -->
         
           <!-- posição às classes de uso da barra de navegação: parte superior fixa, parte inferior fixa parte superior da barra de navegação-->
    <nav class="navbar navbar-expand-sm navbar-light  bg-light">
      

      
        <!-- menu de hambúrguer -->
        <!-- você precisa de três aulas para fazer -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
         <span class="navbar-toggler-icon"></span> <!-- isso cria o menu de hambúrguer -->
        </button>
  
        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav"> <!--2. ul tag -->
              <li class="nav-item"> <!--3. li tag -->
                <a class ="nav-link" href="../templates/homesite.html"> <!-- 4.li tag -->
                  Home
                </a>
              </li>
  
              <li class="nav-item"> 
                <a class ="nav-link" href="../templates/sobre1.html">
                  Sobre
                </a>
              </li>
  
              <li class="nav-item"> 
                <a class ="nav-link" href="../templates/Projetos1.html">
                  Projetos
                </a>
              </li>
  
              <li class="nav-item"> 
                <a class ="nav-link" href="../templates/Contato.html">
                    Contato
                </a>
              </li>
        </ul>
      </div>
      <a href="../templates/homesite.html"><img class="foto" src="../static/img/oculos.png" alt=""></a>
      </nav>
            <!--Meio -->
            <div id="text2">
                <H1 class="H1">Contatos</H1>
            </div>

            <div id="text2">
                
                    <div class="email">
                        <a href="https://github.com/rodrigoribeiro027">
                            <img  src="https://img.shields.io/badge/github-%23100000.svg?&style=for-the-badge&logo=github&logoColor=white&link=mailto:https://github.com/rodrigoribeiro027">
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="mailto:rodrigo.rsantos40@gmail.com">
                            <img src="https://img.shields.io/badge/gmail-D14836?&style=for-the-badge&logo=gmail&logoColor=white&link=mailto:rodrigo.rsantos40@gmail.com">
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/rodrigo-ribeiro-5008211b8/">
                            <img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white&link=mailto:https://www.linkedin.com/in/rodrigo-ribeiro-5008211b8/">
                        </a>
                    </div>
                    
                
            </div>      
            <br>
            <div>
                  <img  class="conteiner1" src="../static/img/gifff.gif" alt="imagem"> 
            </div>
   
            <!--Rodapé -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

     </body>
</html>


