<!DOCTYPE html>
<html lang="pt br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="meu/quadro.jpg" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    

    <title>Rodrigo Ribeiro-Portifolio WEB</title>

    </head>
        <body id="body">
           <!--TOPO -->
            <div>
                <nav>
                    <ul id="topmenu">    
                    
                    <li>  <a href="../templates/homesite.html"> <img src="../static/img/quadro.jpg" alt="" class="foto1"> </a>  </li>
                    <li>  <a href="../templates/homesite.html" class="buttonClass">Home</a>  </li>
                    <li>  <a href="../templates/sobre1.html" class="buttonClass">Sobre</a>  </li>
                    <li>  <a href="../templates/Projetos1.html" class="buttonClass">Projetos</a> </li>
                    <li>  <a href="../templates/Contato.html" class="buttonClass">Contato</a> </li>
                    </ul>
                </nav>
            </div>
            <!--NAME -->

        </div>
            
           <img  class="conteiner" src="../static/img/gift.gif" alt="imagem1"> 
       
        </div>
            <!--Meio -->
            </div>
            
                <img  class="imagemprojeto1" src="../static/img/quadro.jpg" alt="imagem2"> 
                <img  class="imagemprojeto1" src="../static/img/quadro.jpg" alt="imagem3">
                <img  class="imagemprojeto1" src="../static/img/quadro.jpg" alt="imagem4">
            </div>
           

            </div>

            <div id="text2">
               
                <H1 class="H1">Desenvolvedor Web</H1>
                <p class="H1">
                    Atualmente cursando Desenvolvimento de Software Multiplataforma na FATEC São José dos Campos 
                </p>
                
                    
                    <p class="H1">
                        Email:Rodrigo.rsantos40@gmail.com
                    </p>
                </li>
                
            </div>
             <!--Rodapé -->
            <footer>
            <h5 class="centralize">Criado Por Rodrigo R- Todos direitos reservados.</h5>
        </footer>
    </body>
</html>