<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="meu/quadro.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    
    <title>Projetos</title>

</head>
    <body id="body">
        
        <div>
            <nav>
                <ul id="topmenu">    
                    <li>  <a href="../templates/homesite.html"> <img src="../static/img/quadro.jpg" alt="" class="foto1"> </a>  </li>
                    <li>  <a href="../templates/homesite.html" class="buttonClass">Home</a>  </li>
                    <li>  <a href="../templates/sobre1.html" class="buttonClass">Sobre</a>  </li>
                    <li>  <a href="../templates/Projetos1.html" class="buttonClass">Projetos</a> </li>
                    <li>  <a href="../templates/Contato.html" class="buttonClass">Contato</a> </li>
                </ul>
            </nav>
        </div>
       
        <div>
            <h1 class="H1">
                Projetos
            </h1> 
        </div>
        
        <div>
            
            <img src="../static/img/quadro.jpg" alt="" class="imagemprojeto3">
            
        </div>
       
        <div id="text2">
            <h1 class="H1">nome loja</h1>

            <h2>objetivo:</h2>
            <p>
                Tornar uma loja virtual funcional.Com intutito de agregar na vida dos clientes uma novo experiencia mais segura e simples de comprar online.
            </p>
            <h2>Programas</h2>
            <p>Visual Studio Code</p>
        </div>

        <div>
            
            <img src="../static/img/quadro.jpg" alt="" class="imagemprojeto3">
    
        </div>

        <div id="text2">
            <h1 class="H1">BOT PARA DISCORD</h1>

            <h2>objetivo:</h2>
            <p>
                Tornar uma loja virtual funcional.Com intuito de agregar na vida dos clientes uma novo experiencia mais segura e simples de comprar online.
            </p>
            <h2>Programas</h2>
            <p>Visual Studio Code</p>
        </div>

        <footer>
            <h5 class="centralize">Criado Por Rodrigo R - Todos direitos reservados.</h5>
        </footer>
    </body>
</html>