<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="meu/quadro.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="home.css">
    
    <title>Sobre</title>



</head>
    <body id="body">
        <!--TOPO -->
        <div>
            <nav>
                <ul id="topmenu">    
                
                    <li>  <a href="../templates/homesite.html"> <img src="../static/img/quadro.jpg" alt="" class="foto1"> </a>  </li>
                    <li>  <a href="../templates/homesite.html" class="buttonClass">Home</a>  </li>
                    <li>  <a href="../templates/sobre1.html" class="buttonClass">Sobre</a>  </li>
                    <li>  <a href="../templates/Projetos1.html" class="buttonClass">Projetos</a> </li>
                    <li>  <a href="../templates/Contato.html" class="buttonClass">Contato</a> </li>
            </ul>
        </nav>
        </div>
        
        <div id="back1">

                <img  class="imagemprojeto2" src="../static/img/quadro.jpg" alt="imagem">
                <img  class="imagemprojeto2" src="../static/img/quadro.jpg" alt="imagem">
                


        </div>
        <br>
        <div id="text2">
                <h1>
                    Rodrigo Ribeiro - 21 Anos
                </h1>

                <p>
                    No que se refere a formação curricular aos cursos na area de tecnologia.Foi realizado um curso de desenvolvimento web na Instituição modelaço. Com recente inicio na area da programação e desenvolvimento de software na Fatec,espera-se adquirir um vasto conhecimento da area de programação para desenvolvimento de softwares e Sites entre outros sistemas.
                </p>
    
                <h1>Qualificação Profissional</h1>
                <ul>
                    <li> Informática e habilidade em  digitação</li>
                    <li> Leitura e Interpretação de desenho mecânico</li>
                    <li>  Leitura e Interpretação de desenho mecânico </li>
                </ul>

                <h1>
                    Formação Acadêmica
                </h1>
        
                <h2>Professor Joaquim Andrade Meirelles</h2>
                <h3>Ensino Médio –completo,</h3>
                <p>Finalizado em Dezembro/2018</p>
                
                
                <H2>SENAI-SP</H2>
                <H3> Curso de Inspetor de Qualidade</H3>
                <p> Realizado em Fevereiro/2017 á Setembro/2017São José dos Campos - SP</p>
                
               <H1>espectativas </H1>
                <p>Busco superar as expectativas
                    empresariais, visando captar as
                    oportunidades para desenvolver-me
                    profissionalmente o meu potencial
                    no mercado de trabalho. Pretendo
                    obter a efetivação e desenvolvimento
                    profissional.</p>
                
                <H1>Curiosidades</H1>
                <p>
                    Sou muito curioso no mundo da tecnologia,Sempre fico de olho em sites voltados a tecnologia e games como uma sujestão deixarei os links que mais acesso abaixo
                </p>
                <H1>Links</H1>
                <li>
                    <a href="https://www.uol.com.br/start/">Uol</a> |
                    <a href="https://www.tecmundo.com.br/tecnologia">TecMundo</a> |
                    <a href="https://g1.globo.com/economia/tecnologia/">G1</a>
                </li>
            </div>
            <footer>
                <h5 class="centralize">Criado Por Rodrigo R- Todos direitos reservados.</h5>
            </footer>
        
    </body>
</html>